<%- include('../partials/html-head.ejs')%>
<%- include('../partials/nav.ejs')%>
  <h1><%= title %></h1>
  <label>Airline</label>
  <p> <%= flight.airline %></p>
  <label>Airport</label>
  <p> <%= flight.airport %></p>
  <label>Flight Number</label>
  <p> <%= flight.flightNo %></p>
  <label> Departure Date</label>
  <p> <%= flight.departs %></p>
  <label >Tickets </label>
  <% flight.tickets.forEach(ticket => { %>
   <p> <%=ticket.seat%> - $<%=ticket.price%> </p>
  <% }) %>
  <form action="/flights/<%=flight.
  _id%>/ticket" method="POST">
    <label>Seat</label>
    <input type="text" name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price</label>
    <input type="number" name="price">
    <button type="submit"> Add Ticket</button>
  </form>
  <form action="/flights/<%=flight._id%>/edit" method="GET">
    <button> Edit Flight </button>
  </form>
<%- include('../partials/footer.ejs') %>
